/* Basic page styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

::selection {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5) ;
  }

/* Assigning colors to variables */
:root {
    --bg-color: #171F38;
    --snd-bf-color: #262840;
    --text-color: #fff;
    --main-color: #5982f4;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Header Section */

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header-name {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--text-color);
    cursor: default;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.78rem;
    margin-left: 4rem;
    font-weight: 700;
    position: relative;     
}

.navbar a::before {
    content: ""; 
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* Hamburger icon for responsiveness */
#menu-icon {
    font-size: 1.5em;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

/* Home styles */

.home{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-content {
    flex: 1;
    padding: 2rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.4;
}

.home-content p {
    margin: 2rem 0;
    font-size: 1.7rem;
    line-height: 1.5;
    letter-spacing: 0.6px;
}

span {
    color: var(--main-color);
}

.home-img {
    flex: 1;
    text-align: center;
}

.home-img img {
    width: 25vw;
    height: 25vw;   
    box-shadow: 0 0 30px 10px var(--main-color);
    border: 10px solid transparent;
    border-radius: 50%;
    object-fit: cover;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.social-icon {
    display: flex;
    margin-top: 2rem;
}

.social-icon a {
    color: var(--text-color);
    font-size: 2.4rem;
    margin-right: 2rem;
}

.social-icon a:hover {
    color: var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1.5rem 3rem;
    margin: 2.5rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5rem;
    transition: background 0.3s;
}

.btn:hover{
    box-shadow: 0 0 10px 2px var(--main-color);
    border: 2px solid transparent;
}


/* About Section */

.about{
    padding: 10% 10%;
}

.about-content{
    display: flex;
    justify-content: left;
}

.about-content img{
    width:50vh;
    height: 60vh;
    /* padding: 2rem 9%; */
    object-fit: cover;  
    /* border: 2px solid var(--main-color); */
}

.about-me{
    padding: 0 4.5%;
}

.about-me h1{
    font-size: 4rem;
    font-weight: 700;
}

.about-me p {
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: 0.6px;
}

.about-data{
    margin-top: 2.3rem;
    padding: auto 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10%;
    cursor: pointer;
}

.about-data .tab {
    cursor: pointer;
    position: relative;
    transition: background 0.3s;

}

.tab:hover{
    color: var(--main-color);
}

.about-data .tab:active{
    background-color: black;
}

.about-data .tab::before {
    content: ""; 
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


.about-data .tab:hover::before {
    width: 100%;
    
}


.about-data h3{
    font-size: 1.8rem;
    font-weight: 700;
}

.tab-content p {
    margin-top: 3rem;
    font-size: 2rem;
}

/* Skill section */

/* .skill {
    padding: 8% 10%;
}

.skill h1{
    font-size: 4rem;
    font-weight: 700;
}

.skills-container {
    padding: 3rem 10%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 10%;
}

.skill-item {
    background-color: var(--bg-color);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 20px;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skill-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    object-fit: cover;
}

.skill-item h2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: var(--text-color);
} */



.skill {
    padding: 8% 10%;
}

.skill h1{
    font-size: 4rem;
    font-weight: 700;   
    margin-bottom: 3.5rem;
}

.skills-container {
    padding: 3rem 10%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 6rem;
}

.skill-item {
    background-color: var(--snd-bf-color);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.skill-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    object-fit: cover;
}

.skill-item h2 {
    margin-top: 10px;
    font-size: 1.8rem;
    color: var(--text-color);
}


/* Skill section modal */

/* Modal styling */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 40%; 
    height: 40%;
    overflow: auto; 
    background-color: var(--snd-bf-color); 
}

.modal-content {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*Work section */

.work{
    padding: 8% 10%;
}

.work h1{
    font-size: 4rem;
    font-weight: 700;
}

.work-list{
    margin:6% 9%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    gap: 5%; 
}


.work-items {
    overflow: visible;
    width: 18vw;
    height: 30vh;
    margin-bottom: 5rem;
  }

  .work-items img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
  }
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .back, .front {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .front {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .back {
    transform: rotateY(180deg);
    background-color: var(--snd-bf-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .back h1{
    font-weight: 700;
    font-size: 3.5rem;
  }

  .back p{
    margin: 2rem;
    font-family: 400;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2.3rem;
  }

  .back i{
    font-size: 2rem;
    color : var(--text-color);
  }

  .back i:hover{
    color: var(--main-color);
  }
  
  .front::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 560%;
    background: linear-gradient(90deg, transparent,var(--main-color), transparent);
    animation: rotation_481 5000ms infinite linear;
  }
  
  .front-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.work-items:hover .content {
    transform: rotateY(180deg);
}
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }


/* Contact Section */

.contact {
    padding: 1% 16%;
    width: 100%;
    /* max-width: 1500; */
}

.contact h1{
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0 4rem 0 ;
}

.contact-message form {
    display: flex;
    flex-direction: column;
    max-width: 800px; /* Decrease width */
    margin: 0 auto; /* Center align */
    height: auto;
}

.contact-form-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#FirstName,#email{
    width: 46%;
}

#LastName,#subject{
    width: 48%;
}

.contact-message input, .contact-message textarea {
    background-color: var(--snd-bf-color);
    border: none;
    padding: 20px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 1.2em;
}

.contact-message input:focus, .contact-message textarea:focus{
    outline: 2px solid var(--main-color);
    box-shadow: 0 0 10px 2px var(--main-color);
}

.contact-message input::placeholder, .contact-message textarea::placeholder {
    color: #aaa;
}

.btn-submit {
    display: inline-block;
    padding: 1.5rem 3rem;
    margin: 2.5rem 3rem;
    font-size: 1.8rem;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5rem;
    transition: background 0.3s;
}

.btn-submit:hover {
    background: var(--snd-bf-color);
}

/* Message send Modal */

.modal {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s;
}

.modal-content {
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.close-button {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

#success-modal{
    display: none;
}

.success-icon {
    display: flex;
    align-items: center;
}

.success-icon i {
    color: green;
    font-size: 24px;
    margin-right: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }

}

/* Footer Section */

.footer {
    background: var(--snd-bf-color);
    color: var(--text-color);
    padding: 3rem 9%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-content div {
    flex: 1;
    padding: 1rem;
}

.footer h3 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: var(--main-color);
}

.footer p {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.footer-social .social-icon {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.footer-social .social-icon a {
    color: var(--text-color);
    font-size: 2rem;
    transition: color 0.3s;
}

.footer-social .social-icon a:hover {
    color: var(--main-color);
}

.footer-bottom {
    border-top: 1px solid var(--main-color);
    padding-top: 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}



/* Media Queries for Responsive Design */


@media (max-width: 1024px) {

    /* Header */




    /* Home */

    .home{
        flex-direction: column-reverse;
    }

    .home-img{
        flex: 0;
    }

    .home-img img{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }


    section{
        width: 100%;
    }

    .navbar {
        display: none; 
    }

    #menu-icon {
        display: block; 
    }

    .navbar.active {
        display: flex; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg-color);
        padding: 1rem 0;
    }

    .navbar a {
        margin: 1rem 0;
        text-align: center;
    }

    .home-content h3, .home-content h1 {
        font-size: 2.4rem;
    }

    .home-content p {
        font-size: 1.5rem;
    }

    .home-img img {
        width: 30vw;
        height: 30vw;
    }

    .about-content h1 {
        font-size: 2.4rem;
    }

    .about-content p {
        font-size: 1.5rem;
    }

    .about-content img{
        width: 30vw;
        height: 40vw;
    }
}

@media (max-width: 768px) {
    .home-content h3 {
        font-size: 2.4rem;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content p {
        font-size: 1.4rem;
    }

    .home-img img {
        width: 40vw;
        height: 40vw;
    }

    .about-content h1 {
        font-size: 4rem;
    }

    .about-content p {
        font-size: 1.4rem;
    }


    .about-content img{
        width: 40vw;
        height: 50vw;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .home-content {
        padding: 1rem;
    }

    
    .home-content h3 {
        font-size: 2rem;
    }

    .home-content h1 {
        font-size: 3.2rem;
    }

    .home-content p {
        font-size: 1.2rem;
    }

    .home-img img {
        width: 50vw;
        height: 50vw;
    }

    .about-content h1 {
        font-size: 3.2rem;
    }

    .about-content p {
        font-size: 1.2rem;
    }

    .about-content img{
        width: 50vw;
        height: 60vw;
    }
}